.header__wrapper {
    padding: 2em;
}

#header a {
    text-align: center;
    font-family: "Comic Sans MS";
    color: rgb(51, 51, 51);
    text-decoration: none;
}

#header h1 {
    font-size: 55px;
    margin: .2em 0;
}