#menu {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

.menu__list{
    display: flex;
    text-decoration: none;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__button {
    margin: 20px;
    text-decoration: none;
}

.menu__button > a {
    font-family: "Comic Sans MS";
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(51, 51, 51);
    font-weight: bold;
}

.menu__button--blue > a {
    color: blue;
}